.hero2 {
    display: flex;
    padding-bottom: 100px;
    padding-top: 100px;
}

.hero2 h2 {
    color: #00296B;
    font-size: 50px;
}

.hero2 p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-hero2{
    width: 25%;
    background-color: #00296B;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 19px;
    font-size: 16px;
    font-weight: 700;
}

.btn-hero2:hover {
    background-color: #002053;
}