header {
    display: flex;
    align-items: center;
    padding: 20px;
}

header ul {
    display: flex;
}

.logo {
    flex: 1;
}

header li {
    list-style: none;
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header li:hover {
    color: rgb(204, 204, 204);
}

.active {
    color: #3c87ff;
}